div.tableprop{
    border: 1px solid black;
    display: inline;
    margin: 0;
    width: 10px;
}

div.wiersz{
    border: 1px solid black;
}

.wiersz>div{
    display: inline-block;
}

div.gowno{

}