<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik terningowy</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="menu_block">
        <ul id="menu_list">
            <li class="menu_item"><a href="#">start</a></li>
            <li class="menu_item"><a href="#">dziennik</a></li>
            <li class="menu_item"><a href="#">kalkulator proporcji</a></li>
        </ul>
    </div>
    <main>

    </main>
</body>
</html>